<div class="register-logo">
    <h1 align="center">List And Approve Bids</h1>
</div>
<div>
    {{models-table data=model columns=columns useNumericPagination=true currentPageNumber=8 filteringIgnoreCase=true action='authorize'}}
</div>
{{#if isFunderAuthorize}}
<div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" {{action "dismissModal"}}>×</button>
            </div>
            <div class="modal-body">
             {{fundername}} bids has been successfully approved.
            </div>
        </div>
    </div>
{{/if}}