   <div class="register-logo">
    
    <h1 align="center">Status of fund transfer</h1>
</div>
<div class="col-sm-11">
    {{models-table data=model columns=columns useNumericPagination=true currentPageNumber=8}}
</div>
