<h2><b>Animal Welfare</b></h2>
<h4>Made easy</h4>
<p>Crowdfunding is an online fundraising and crowdfunding platform. We help individuals, non-profits, social enterprises, and corporates to raise money online for social or personal projects.</p>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a {{action 'campaignDetails' 'assets/image/one.jpg' 'Animal_Welfare' 'Animal_Welfare_Campaign_1'}}>
                <img src="assets/image/one.jpg" alt="Lights">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a {{action 'campaignDetails' 'assets/image/two.jpg' 'Animal_Welfare' 'Animal_Welfare_Campaign_2'}}>
                <img src="assets/image/two.jpg" alt="Nature">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a {{action 'campaignDetails' 'assets/image/two.jpg' 'Animal_Welfare' 'Animal_Welfare_Campaign_3'}}>
                <img src="assets/image/three.jpg" alt="Fjords">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
            </a>
        </div>
    </div>
</div>