<div class="row text-center">
    <div class="col-sm-8">
        <div class="thumbnail">
            <h2> {{category}} </h2>
            <h4> {{c_title}} </h4>
            <img src={{imgURL}} class="img-rounded">
            <p><strong>Lorem ipsum donec id elit non mi porta gravida at eget metus.</strong>
            </p>
            <p>Friday 27 November 2015</p>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <br>

            <button class="btn btn-color" data-toggle="modal" {{action 'callReward'}}><strong>Contribute Now </strong></button>

            <br>
            <br>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="thumbnail">
            <br>
            <h1> &#x20B9; 7,210 </h1>
            <h4> raised of &#x20B9; 25,000</h4>
            <br>
            <br>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="thumbnail">
            <br>
            <h1> 40 </h1>
            <h4> Supporters</h4>
            <br>
            <br>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="thumbnail">
            <br>
            <h1> 6 </h1>
            <h4> Days left</h4>
            <br>
            <br>
        </div>
    </div>


</div>