<div class="row text-center">
    <div class="col-sm-8">
        <div class="thumbnail">
            <h2> {{category}} </h2>
            <h4> {{c_title}} </h4>
            <img src={{imgURL}}>
            <p><strong>To help women who are at risk of being trafficked & in sexual exploitation and perpetrators of human trafficking.</strong>
            </p>
            <p>Friday 27 November 2015</p>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <br>
            <button class="btn" data-toggle="modal">{{#link-to 'reward'}}Contribute Now {{/link-to}}</button>
            <br>
            <br>
        </div>
    </div>

</div>

