
{{#if record.regStatus}}
    {{#if record.campStatus}}
        Project closed
    {{else}}
        <button {{action 'sendAction' 'action' record}}>Close Project</button>
    {{/if}}
{{else}}
    <button {{action 'sendAction' 'action' record}}>Authorize</button>
{{/if}}