<div class="container-fluid login_bg mt20">
    <div class="container">
        <footer class="navbar-fixed-bottom navbar-inverse">
            <div class="col-sm-12 col-md-12 center-align text-muted navbar-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 			</div>  
		</footer>
	</div>
</div>