
<button type="button" class="btn btn-primary" {{action 'approvebids'}}> Approve bids</button>

<button type="button" class="btn btn-primary" {{action 'fundtransfer'}}> Status of fund transfer</button>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>