<ul class="nav nav-pills">
    <li>{{#link-to 'fund-raiser.list-approve-bids'}}Bids{{/link-to}}</li>
    <li>{{#link-to 'fund-raiser.status-of-fund-transfer'}}Report{{/link-to}}</li>
    <li>{{#link-to 'fund-raiser.dashboard'}}Dashboard{{/link-to}}</li>
</ul>

{{outlet}}