<ul class="nav nav-pills">
   <li>{{#link-to 'fund-raiser.list-approve-bids'}}list-approve-bids{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.status-of-fund-transfer'}}status-of-fund-transfer{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.execute-campaign'}}execute-campaign{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.deliver-commitments'}}deliver-commitments{{/link-to}}</li>
</ul>

{{outlet}}