<ul class="nav nav-pills">
   <li>{{#link-to 'fund-raiser.list-approve-bids'}}Bids{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.status-of-fund-transfer'}}Fund Transfer{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.execute-campaign'}}Campaign Details{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.deliver-commitments'}}Commitments{{/link-to}}</li>
</ul>

{{outlet}}