<script>
    //To place an active class for any menu item clicked
    $('#menu > ul.nav li a').click(function(e) {
        var $this = $(this);
        $this.parent().siblings().removeClass('active').end().addClass('active');
        e.preventDefault();
    });
</script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Logo and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
             {{#link-to "home"}}Logo{{/link-to}}
         </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#if showAdminHeaderModules}}
                
                    <li>{{#link-to "start-campaign"}}Start Campaign{{/link-to}}</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Campaigns<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Education</a>
                            </li>
                            <li><a href="#">Children</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Animal Welfare</a>
                            </li>
                            <li><a href="#">Environment</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Film</a>
                            </li>
                            <li><a href="#">Dance</a>
                            </li>
                        </ul>
                    </li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if showUser}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user">&nbsp;{{userType}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a {{action 'logout'}}>&nbsp;Logout</a>
                            </li>
                        </ul>
                    </li>
                {{else}}
                    <li>
                        {{#link-to "login"}}
                        <span class="glyphicon glyphicon-user">&nbsp;{{userType}}</span> {{/link-to}}
                    </li>
                {{/if}}
            </ul>

            <ul class="nav navbar-nav">
                <li>{{#link-to "reward"}}Reward{{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>{{#link-to "browse"}}Browse{{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>{{#link-to "browse.funder-history"}}Funder History{{/link-to}}</li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>