<br/><br/><br/>
<div class="container-fluid bg-1">
<div class="row">
<div class="col-sm-12">
    <p> <h3>Please Select Reward </h3> </p>
</div>
</div>
</div>


<div class="container-fluid bg-2">
        <p> <br><b>No Rewards </b><br> I Just want to continue <br> </p>
    </div>


<div class="container-fluid bg-4">
<p> <br><b>Rs.500/-</b><br><b>High Five!!</b><br>The Donor will get a shoutout on our social media handles<br> </p>
</div>

<div class="container-fluid bg-2">
<p> <br> <b>Rs.1000/-</b><br><b>Horse Power</b><br>Special Shoutout on our social media handles and Delivery of customised postcard <br></p>
</div>


<div class="container-fluid bg-4">
<p> <br><b>Rs.5000/-</b><br><b>Unstoppable</b><br>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles<br> </p>
</div>

<div class="container-fluid bg-2">
<p> <br><b>Rs.10000/-</b><br><b>T-10</b><br>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles<br> </p>
</div>

<div class="container-fluid bg-4">
<p> <br><b>Rs.25000/-</b><br><b>Lightspeed</b><br>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles<br> </p>
</div>

<div class="container-fluid bg-2">
<p> <br><b>Rs.50000/-</b><br><b>Lift-Off</b><br>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles<br> </p>
</div>

<br>

<!-- Footer -->
<footer class="container-fluid bg-3">
  <p>
      <div class="right"> Made By Sweta 
          <!--<a href="#"> <div class="left"> www.w3schools.com</div> </a>-->
      </div>
  </p> 
</footer>   


