<ul class="nav nav-pills">
   <li>{{#link-to 'service-provider.participants'}}Participants{{/link-to}}</li>
   <li>{{#link-to 'service-provider.campaigns'}}Campaigns{{/link-to}}</li>
   <li>{{#link-to 'service-provider.report'}}Report{{/link-to}}</li>
   <li>{{#link-to 'service-provider.transaction-history'}}transaction-history{{/link-to}}</li>
</ul>

{{outlet}}