<div class="container">
    <div class="panel-title text-center">
        <h1 class="title">Campaign Details</h1>
    </div>
    {{#paper-stepper currentStep=currentStep onStepChange=(action (mut currentStep))
                    onStepperCompleted=(action "createCampaign") as |stepper|}}
        {{#stepper.step label="Create Campaign" as |step|}}
            {{#step.body}}
            {{!-- Campaign details --}}
                <div class="row main">
                    <div class="main-login start-campaign-center">
                        <form class="form-horizontal" method="post" action="#">
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        <input type="text" class="form-control" name="campaigntitle" id="campaigntitle" placeholder="Campaign Title" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </div>
                                        <textarea class="form-control" rows="2" id="shortdescription" placeholder="Short Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        <input type="text" class="form-control" name="beneficiaryname" id="beneficiaryname" placeholder="Name of Beneficiary" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </div>
                                        <textarea class="form-control" rows="5" id="campaignstory" placeholder="Campaign Story"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {{/step.body}}
            {{#step.actions as |nextStep previousStep|}}
                {{#paper-button primary=true raised=true onClick=(action nextStep)}}
                    Continue
                {{/paper-button}}
                {{#paper-button onClick=(action previousStep)}}
                    Back
                {{/paper-button}}
            {{/step.actions}}
        {{/stepper.step}}

        {{!-- add as many steps as necessary --}}
        {{#stepper.step label="Set Goals" as |step|}}
            {{#step.body}}
            {{!-- Content here. Probably some form. --}}
                <div class="row main">
                    <div class="main-login start-campaign-center">
                        <form class="form-horizontal" method="post" action="#">
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                        </div>
                                        <input type="text" class="form-control" name="goalamount" id="goalamount" placeholder="Set Goal Amount" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                        </div>
                                        <textarea class="form-control" rows="2" id="firstgoal" placeholder="Campaign Goal/Conditions 1"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                        </div>
                                        <textarea class="form-control" rows="2" id="secondgoal" placeholder="Campaign Goal/Conditions 2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                        </div>
                                        <textarea class="form-control" rows="2" id="thirdgoal" placeholder="Campaign Goal/Conditions 3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {{/step.body}}
            {{#step.actions as |nextStep previousStep|}}
                {{#paper-button primary=true raised=true onClick=(action nextStep)}}
                    Continue
                {{/paper-button}}
                {{#paper-button onClick=(action previousStep)}}
                    Back
                {{/paper-button}}
            {{/step.actions}}
        {{/stepper.step}}

        {{!-- add as many steps as necessary --}}
        {{#stepper.step label="Set Rewards" as |step|}}
            {{#step.body}}
            {{!-- Content here. Probably some form. --}}
                <div class="col-sm-12">
                    <h3 style="text-align: right" {{action "addRewards"}} class="mouse">+ Rewards</h3>
                </div>
                <div class="row main">
                    <div class="main-login">
                        <form class="form-horizontal" method="post" action="#">
                            <div class="reward-left-align">
                                <div class="cols-sm-10" {{action "addRewards"}}>
                                    <p><strong>Rs. 1000</strong></p>
                                    <p>Thank You note</p>
                                    <p>Each donor who donates a minimum amount of Rs. 1,000 will receive a personalised thank you note.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>         
            {{/step.body}}
            {{#step.actions as |nextStep previousStep|}}
                {{#paper-button primary=true raised=true onClick=(action nextStep)}}
                    Continue
                {{/paper-button}}
                {{#paper-button onClick=(action previousStep)}}
                    Back
                {{/paper-button}}
            {{/step.actions}}
        {{/stepper.step}}
    {{/paper-stepper}}
</div>

{{#if isAddReward}}
    {{#modal-dialog close="addRewards"
                  targetAttachment="center"
                  translucentOverlay=true}}
        {{partial 'addrewards'}}
    {{/modal-dialog}}
{{/if}}

{{#if isSaveReward}}
    {{#modal-dialog close="saveRewards"
                  targetAttachment="center"
                  translucentOverlay=true}}
        Reward successfully created.
    {{/modal-dialog}}
{{/if}}